---
import RedirectLayout from "../layouts/RedirectLayout.astro";

const targetUrl = "/es";
---
<RedirectLayout lang="es">
    <meta slot="meta" http-equiv="refresh" content={`0;url=${targetUrl}`} />
    <link slot="meta" rel="canonical" href={targetUrl} />
    <a slot="link" href={targetUrl} class="text-primary-500">haz clic aquí</a>
</RedirectLayout>