---
// src/components/mdx/BentoGrid.astro
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}
const { ...props } = Astro.props;
---

<div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-10 auto-rows-[minmax(180px,auto)]"
    {...props}
>
    <slot />
</div>
